:root {
    --pr: #fd9696;
    --sc: #d90978;
    --bg: #fccece;
    --dr: #181818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Viga', sans-serif;
    /* background-color: var(--bg); */
    background-color: var(--dr);
    color: #fff;
}


/* Navbar Section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    /* background-color: rgba(252, 206, 206, 0.3); */
    background-color: rgba(24, 24, 24, 0.3);
    border-bottom: 1px solid var(--pr);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    opacity: 0;
    transform: translateY(-100%);
    transition: 1s;
}

.navbar.muncul {
    opacity: 1;
    transform: translateY(0);
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--pr);
    transition: color 0.2s linear;
}

.navbar .navbar-logo:hover {
    color: var(--sc);
}

.navbar .navbar-logo span {
    transition: color 0.2s linear;
    color: var(--sc);
}

.navbar .navbar-logo span:hover {
    color: var(--pr);
}

.navbar .navbar-nav a {
    color: var(--pr);
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
    transition: color 0.2s linear;
}

.navbar .navbar-nav a:hover {
    color: var(--sc);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--sc);
    transform: scaleX(0);
    transition: transform 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.7);
}

.navbar .navbar-extra a {
    color: var(--pr);
    margin: 0 0.2rem;
    transition: color 0.2s linear;
}

.navbar .navbar-extra a:hover {
    color: var(--sc);
}

#hamburger-menu {
    display: none;
}


/* Hero Section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(24, 24, 24, 1) 8%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.hero .content h1 {
    font-size: 4em;
    font-weight: 100;
    color: var(--bg);
    text-shadow: 1px 1px 2px rgba(24, 24, 24, 0.8);
    opacity: 0;
    transform: scaleY(0.5);
    transition: 1.5s;
}

.hero .content h1.muncul {
    opacity: 1;
    transform: scaleY(1);
}

.hero .content h1 span {
    color: var(--pr);
}

.hero .content p {
    font-size: 1.4em;
    font-weight: 100;
    color: var(--bg);
    text-shadow: 1px 1px 2px rgba(24, 24, 24, 0.8);
    opacity: 0;
    transform: scaleX(0.5);
    transition: 1.5s;
}

.hero .content p.muncul {
    opacity: 1;
    transform: scaleX(1);
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem;
    font-size: 1.2em;
    font-weight: 100;
    color: var(--bg);
    background-color: var(--pr);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px rgba(24, 24, 24, 0.8);
    transition: background-color 0.2s linear;
    opacity: 0;
    transform: translateY(100%);
    transition: 1.5s;
}

.hero .content .cta.muncul {
    opacity: 1;
    transform: translateY(0);
}

.hero .content .cta:hover {
    color: var(--pr);
    background-color: var(--sc);
}


/* About Section */
.about, .project, .contact {
    padding: 6.5rem 7% 1.3rem;
}

.about h2, .project h2, .contact h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 3rem;
    color: var(--bg);
}

.about h2 span, .project h2 span, .contact h2 span {
    color: var(--pr);
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img img {
    width: 100%;
    border-radius: 1rem;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
    opacity: 0;
    transform: scale(0.5);
    transition: 1.5s;
}

.about .row .content.muncul {
    opacity: 1;
    transform: scale(1);
}

.about .row .content h3 {
    font-size: 1.8rem;
    font-weight: 100;
    margin-bottom: 1rem;
    color: var(--bg);
}

.about .row .content p {
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--bg);
    margin-bottom: 0.5rem;
}


/* Project Section */
.project h2, .contact h2 {
    margin-bottom: 1rem;
}

.project p, .contact p {
    text-align: center;
    max-width: 25rem;
    margin: auto;
    font-size: 1.1rem;
    font-weight: 100;
    color: var(--bg);
}

.project .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4.5rem;
    gap: 2rem;
}

.project .row .project-card {
    text-align: center;
    opacity: 0;
    transform: scale(0.5);
    transition: 1.5s;
}

.project .row .project-card.muncul {
    opacity: 1;
    transform: scale(1);
}

.project .row .project-card img {
    border-radius: 50%;
    width: 15rem;
}

.project .row .project-card h3 {
    font-size: 1.5rem;
    font-weight: 100;
    margin: 1rem 0;
    color: var(--bg);
}

.project .row .project-card a {
    margin-bottom: 0.5rem;
    display: inline-block;
    padding: 0.5rem;
    font-size: 1.2em;
    font-weight: 100;
    color: var(--bg);
    background-color: var(--pr);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px rgba(24, 24, 24, 0.8);
    transition: background-color 0.2s linear;
}

.project .row .project-card a:hover {
    color: var(--pr);
    background-color: var(--sc);
}


/* Contact Section */
.contact .row {
    display: flex;
    margin-top: 4.5rem;
    background-color: var(--bg);
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;
    background-color: var(--pr);
    box-shadow: 1px 1px 2px rgba(24, 24, 24, 0.8);
    padding-left: 2rem;
}

.contact .row form .input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
    background: none;
    color: var(--sc);
}

.contact .row form .input-group input::placeholder {
    color: var(--bg);
}

.contact .row form button {
    margin-top: 2rem;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--bg);
    background-color: var(--pr);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px rgba(24, 24, 24, 0.8);
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.contact .row form button:hover {
    color: var(--pr);
    background-color: var(--sc);
}


/* Footer Section */
footer {
    padding: 1rem 0;
    background-color: var(--pr);
    text-align: center;
    margin-top: 4rem;
    padding-bottom: 2.5rem;
}

footer .sosmed {
    padding: 1rem 0;
}

footer .sosmed a {
    margin: 0 1rem;
    font-size: 1.5rem;
    color: var(--bg);
}

footer .sosmed a:hover {
    color: var(--sc);
}

footer .links {
    margin-bottom: 1.3rem;
}

footer .links a {
    color: var(--bg);
    padding: 0.7rem 1rem;
}

footer .links a:hover {
    color: var(--sc);
}

footer .credits {
    font-size: 1rem;
    font-weight: 100;
    color: var(--bg);
}

footer .credits a {
    color: var(--sc);
}

footer .credits a:hover {
    text-decoration: underline;
}



/* Media Queries */


/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(253, 150, 150, 0.6);
        width: 30rem;
        height: 100vh;
        transition: 0.6s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    .navbar .navbar-nav a {
        color: var(--pr);
        display: block;
        margin: 1.5rem;
        font-size: 2rem;
        padding: 0.5rem;
    }

    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0.3);
    }

    .about .row {
        flex-wrap: wrap;
    }

    .about .row .about-img img {
        height: 24rem;
        object-fit: cover;
        object-position: center;
    }

    .about .row .content {
        padding: 0;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 1.7rem;
    }

    .about .row .content p, .project p {
        font-size: 1.3rem;
    }

    .project .row .project-card img {
        width: 20rem;
    }

    .contact .row {
        flex-wrap: wrap;
    }

    .contact .row .map {
        height: 30rem;
    }

    .contact .row form {
        padding-top: 2rem;
    }
}

/* Phone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

    .hero .content h1 {
        font-size: 2.5rem;
    }

    .hero .content p {
        font-size: 1.5rem;
    }
}