:root {
    --pr: #fd9696;
    --sc: #d90978;
    --bg: #fccece;
    --dr: #181818;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Viga', sans-serif;
    background-color: var(--bg);
    /* background-color: var(--dr); */
    color: #fff;
}


/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: rgba(252, 206, 206, 0.3);
    border-bottom: 1px solid var(--pr);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 600;
    color: var(--pr);
    transition: color 0.2s linear;
}

.navbar .navbar-logo:hover {
    color: var(--sc);
}

.navbar .navbar-logo span {
    transition: color 0.2s linear;
    color: var(--sc);
}

.navbar .navbar-logo span:hover {
    color: var(--pr);
}

.navbar .navbar-nav a {
    color: var(--pr);
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;
    transition: color 0.2s linear;
}

.navbar .navbar-nav a:hover {
    color: var(--sc);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--sc);
    transform: scaleX(0);
    transition: transform 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.7);
}

.navbar .navbar-extra a {
    color: var(--pr);
    margin: 0 0.2rem;
    transition: color 0.2s linear;
}

.navbar .navbar-extra a:hover {
    color: var(--sc);
}

#hamburger-menu {
    display: none;
}

